.GridTestimonial{
    display: grid;
    gap:50px;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
}



.testimonialCard{
padding: 1%;
border-radius: 5px;
background-color: white;
}

@media screen  and (max-width:850px){
    .GridTestimonial{
        display: grid;
        gap:50px;
        grid-template-columns: repeat(2,1fr);
        margin-top: 50px;
    }
    
}


@media screen  and (max-width:550px){
    .GridTestimonial{
        display: grid;
        gap:50px;
        grid-template-columns: repeat(1,1fr);
        margin-top: 50px;
    }
    
}