
.mainbox{
    /* border:4px solid green; */
    width:85%;
    margin:auto;
    margin-top:5%;
   
    text-align: center;
    /* background: var(--color-bg-variant); */
   
}
.name{
    font-size: 25px;
    color: rgb(48, 179, 231);
    font-weight: 700;
    padding: 1%;
    margin-bottom: 2%;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    background-color: rgb(59, 59, 59)
}

.photosCards{
    display:grid;
    grid-template-columns:repeat(4,1fr)
    ;gap:15px;
   background:white;
        padding:2%;
      
}
.card{
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media all and (min-width:80px) and (max-width:280px){
    
.mainbox{
    /* border:4px solid green; */
    width:95%;
    margin:auto;
    margin-top:5%;
    text-align: center;
    /* background: var(--color-bg-variant); */
    border-radius: 1%;
}
    .photosCards{
        display:grid;
        grid-template-columns:repeat(1,1fr)
        ;gap:15px;
       background:white;
            padding:2%;
            border-radius: 1%;
    }
}

@media all and (min-width:280px) and (max-width:480px){
    
.mainbox{
    /* border:4px solid green; */
    width:90%;
    margin:auto;
    margin-top:5%;
    text-align: center;
    /* background: var(--color-bg-variant); */
    border-radius: 1%;
}
    .photosCards{
        display:grid;
        grid-template-columns:repeat(2,1fr)
        ;gap:15px;
       background:white;
            padding:2%;
            border-radius: 1%;
    }
}



@media all and (min-width:450px) and (max-width:880px){
    .mainbox{
        /* border:4px solid green; */
        width:90%;
        margin:auto;
        margin-top:5%;
        text-align: center;
        /* background: var(--color-bg-variant); */
        border-radius: 1%;
    }
        .photosCards{
            display:grid;
            grid-template-columns:repeat(3,1fr)
            ;gap:15px;
           background:white;
                padding:2%;
                border-radius: 1%;
        }   


}