.maInBox{

    margin: auto;
    width: 100%;
    background: white;
   color: #890000;
   padding: 2%;
}

.miDbox{
   
    display: flex;
   justify-content: space-between;
   font-style: italic;
   text-align: center;
   align-items: center;
    width: 70%;
    gap: 10%;
    margin: auto;
}

.youtub{
    width: 40%;
}
.texT{
    width: 60%;
    justify-items: center;
    margin: auto;
    align-items: center;
}

.soliD{
   margin: auto;
    border-top:3px solid #890000;
    padding-bottom: 4%;
    width: 80%;
}

@media screen and (max-width: 950px){
    .youtub{
        width: 100%;
    }
    .texT{
        width: 100%;
        font-style: oblique;
        justify-items: center;
        margin: auto;
        align-items: center;
    }
    .miDbox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
       text-align: center;
        width: 90%;
        margin: auto;
    }
    
}


@media screen and (max-width: 550px){
    .youtub{
        align-items: center;
        width: 100%;
    }
    .texT{
      width: 100%;
        font-style: oblique;
        justify-items: center;
        margin: auto;
        align-items: center;
        
    }
    .miDbox{
        /* display: grid;
        grid-template-columns: repeat(1,1fr); */
       
       text-align: center;
        width: 100%;
        margin: auto;
    }


}



